.profile {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem;
}

.profilePic {
  margin: 1rem;
  height: 122px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.profileName {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.profileHeader {
  margin: 0.125rem 1.25rem 0.125rem 1.25rem;
}

.profileHeader > button {
  all: unset;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
}

.profileDetails {
  margin: 0.75rem 2.625rem 0.75rem 2.625rem;
}

.profileDetails > p {
  margin: 0.3rem 0 0.3rem 0;
}
