.profile {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5rem;
}

.profile:last-child {
  border-bottom: none;
}

.profilePic {
  margin: 0.75rem;
  height: 136px;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.profileText {
  width: 100%;
  padding-left: 1rem;
  padding-right: 0.625rem;
}

.profileName {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.profileHeader {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  display: flex;
  justify-content: space-between;
}

.btnExpand {
  all: unset;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

.btnExpand > svg {
  color: darkgray;
  vertical-align: text-bottom;
}

.btnExpand > svg:hover {
  color: black;
}

.btnExpand:focus > svg {
  color: black;
}

.profileDetails {
  margin: 0.625rem 1.375rem 0.625rem 1.375rem;
}

.profileDetails > p {
  margin: 0.3rem 0 0.3rem 0;
}

.profileExpandedDetails {
  padding-top: 0.875rem;
  padding-bottom: 0.5rem;
}

.profileExpandedDetails > p {
  white-space: pre;
  margin: 0rem;
}

.profileTags {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem;
}

.tag {
  display: inline-block;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0.625rem;
  background-color: #e0e0e0;
  border-radius: 0.25rem;
}

.inputAddTag {
  font-size: 1rem;
  padding: 0.75rem 0.25rem 0.75rem 0.25rem;
}
